{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-flex">
    <div class="background-container">
        <div class="blur">
            <div class="row">
                <div class="col my-auto">
                    <h2 class="display-4 intro">Donate here</h2>
                    <div class="card">
                        <form action="{% url 'donate' %}" method="POST" id="donation_form">
                            {% csrf_token %}
                            <fieldset class="rounded px-3 mb-5">
                                {{ donation_form.donation_recipient | as_crispy_field }}
                                {{ donation_form.donation_amount | as_crispy_field }}
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}