{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="background-container">
    <div class="blur">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 my-auto">
                    <div class="card donate-card">
                        <h2 class="donate-header">Donate here</h2>
                        <hr>
                        <form action="{% url 'donate' %}" method="post" id="payment-form">
                            {% csrf_token %}
                            <fieldset class="rounded px-3 mb-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p donate-text>Name: <strong>{{ user.username }}</strong>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Email: <strong>{{ user.email }}</strong>
                                    </div>
                                    <div class="form-group col-6">
                                        <p class="donate-text">Pick the seminar you would like to donate to or leave blank if you want to show support for the website!</p>
                                        {{ donation_form.donation_recipient | as_crispy_field }}
                                    </div>
                                    <div class="form-group col-6">
                                        {{ donation_form.donation_amount | as_crispy_field }}
                                    </div>
                                    <div id="card-element">
                                        <!-- Elements will create input elements here -->
                                    </div>
                                </div>
                            </fieldset>


                            <!-- We'll put the error messages in this element -->
                            <div id="card-errors" role="alert"></div>



                            <button id="card-button" class="btn donate-btn btn-success"><strong>Submit
                                    Payment</strong></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 my-auto">
                    <div class="card donate-card">
                        <h2 class="donate-header">Support our hosts!</h2>
                        <hr>
                        <p class="donate-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat eu
                            lacus quis feugiat.
                            In consectetur lorem vitae odio tempus porta. Suspendisse leo sem, elementum vel gravida
                            dapibus, elementum vitae magna. Etiam bibendum, orci quis maximus dictum, dui nulla volutpat
                            felis, at sagittis metus risus at est.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}