{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="background-container">
    <div class="blur">
        <div class="container g-0">
            <div class="row g-0">
                <div class="col-lg-6 my-auto">
                    <div class="card donate-card">
                        <h2 class="donate-header">Checkout Page</h2>
                        <hr>
                        <form id="payment-form">
                            <div id="card-element">
                              <!-- Elements will create input elements here -->
                            </div>
                          
                            <!-- We'll put the error messages in this element -->
                            <div id="card-errors" role="alert"></div>
                          
                            <button class="donate-btn btn-outline-success" id="submit">Submit Payment</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</div>

{% block postload_js %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'donations/js/stripe_elements.js' %}"></script>
{% endblock %}