{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-flex h-100">
    <div class="background-container">
        <div class="row h-100">
            <div class="col my-auto intro">
                <h1 class="display-3 intro-text">
                    Find the the perfect sessions for you today
                </h1>
                {% if not request.user.is_authenticated %}
                <div class="my-5">
                    <h4>
                        <a href="{% url 'account_signup' %}"
                            class="shop-now-button btn btn-lg rounded-0 intro-text">Sign up today</a>
                    </h4>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container-flex h-100">
    <div class="row h-100">
        <div class="col my-auto intro">
            <h2 class="intro-text">Featured Sessions</h2>
            <hr>
        </div>
    </div>
</div>
{% endblock %}