{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-flex">
    <div class="background-container">
        <div class="blur">
            <div class="row">
                <div class="col my-auto">
                    <h2 class="display-4 intro">
                        Find the the perfect seminar to ensure your health and wellbeing flourishs today!
                    </h2>
                    {% if not request.user.is_authenticated %}

                    <h3 class="intro-invite">
                        <a href="{% url 'account_signup' %}" class="shop-now-button btn btn-lg rounded-0">Sign up
                            today</a>
                    </h4>

                    {% else %}

                    <h4 class="intro-invite">
                        <a href="#" class="shop-now-button btn btn-lg rounded-0">Search our seminars</a>
                    </h4>

                    {% endif %}


                </div>
            </div>
            <div class="row">
                <div class="col my-auto">
                    <h2 class="featured-header">Featured Sessions</h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}