body {
    margin:0;
    padding:0;
    height:100%;
}

#page-container {
    min-height:100%;
    position:relative;
}

/* Styles used to create and blur background image */

.background-container {
    background-image: url('/media/harli-marten-n7a2OJDSZns-unsplash.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: -1;
  }

.blur {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    height: 100vh;
    width: 100%;
    z-index: -1;
  }

/* Styles used to customise text on homepage */

.intro {
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 5%;
    color: oldlace;
    font-weight: 800;
}

.intro-invite {
    padding-top: 2%;
    padding-left: 10%;
    color: oldlace;
    font-weight: 800;
}

.featured-header {
    padding-left: 15%;
    color: oldlace;
    padding-top: 5%;
    font-weight: 700;
}

.intro-invite a {
    color: oldlace;
}

hr {
    border: 5px solid white;
    border-radius: 5px;
    width:70%;
    margin-left: 10%;
}

/* Styles used to customise nav bar */

.search-button {
    margin-left: 0.5rem;
}

.navbar {
    z-index: 2;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    background-color: #f7f7f7;
    
}

a {
    text-decoration: none !important;
    color: #555;
}

.card {
min-width: 300px;
background-color: #f7f7f7;
margin: 1rem;
}

 /* Media queries used to ensure responsiveness for intro header across different screen widths */


 @media screen and (max-width: 1400px) {
    .intro-header {
        color: oldlace;
        font-size: 40px;

    }
}

@media screen and (max-width: 480px) {
    .intro-header {
        color: oldlace;
        font-size: 35px;

    }
    .intro-signup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }
}


