@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Roboto:wght@300&display=swap');

html, body {
    margin:0;
    padding:0;
    height:100%;
}


h2, h3, h4, h5 {
    font-family: 'Roboto Slab', serif;

}

 p {
    font-family: 'Roboto', sans-serif;
}
 

.page-container {
    min-height:100%;
    position:relative;
}

/* Styles used to create and blur background image */

.background-container {
    background-image: url('/media/harli-marten-n7a2OJDSZns-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: stretch;
    height: 100vh;
    width: 100%;
    z-index: -1;
  }

.blur {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    height: 100vh;
    width: 100%;
    z-index: -1;
  }

/* Styles used to customise text on homepage */

.intro {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 5%;
    color: oldlace;
    font-weight: 800;
}

.intro-invite {
    padding-top: 2%;
    padding-left: 10%;
    color: oldlace;
    font-weight: 800;
}

.featured-header {
    padding-left: 15%;
    color: oldlace;
    padding-top: 5%;
    font-weight: 700;
}

.intro-invite a {
    color: oldlace;
}

.intro-hr {
    border: 5px solid white;
    border-radius: 5px;
    width:70%;
    margin-left: 10%;
}

/* Styles used to customise nav bar */

.search-button {
    margin-left: 0.5rem;
}

.navbar {
    z-index: 2;
}

footer {
    height: 3rem;
    background-color: #f7f7f7;
    width: 100%;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
}

a {
    text-decoration: none !important;
    color: #555;
}

.invisible {
    padding: 1%;
}

.card {
    min-width: 300px;
    min-height: 200px;
    background-color: #f7f7f7;
    border-radius: 2%;
    margin: 1rem;
    margin-bottom: 3rem;

}

.card_image {
    padding: 0.5rem;
    border-radius: 8%;
    width: 300px;
    height: 200px;
    object-fit: cover;
    float: right;
}

.card_text {
    padding-right: 1rem;
}

.btn-outline-info {
    margin: 0.5rem;
    float: right;
}

.overlay {
    background: #f7f7f7;
}

.details_header {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

 /* Media queries used to ensure responsiveness for intro header across different screen widths */


 @media screen and (max-width: 1400px) {
    .intro-header {
        color: oldlace;
        font-size: 40px;

    }
}


