/*----------------- Roboto and Kanit fonts imported from google fonts -----------------*/

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Roboto+Slab:wght@500&family=Roboto:wght@300&display=swap');

/*----------------- Styles used across all pages -----------------*/

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h2,
h3,
h4,
h5 {
    font-family: 'Roboto Slab', san-serif;
}

p,
span {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none !important;
    color: #555;
}

#page-container {
    position: relative;
    min-height: 100%;
}

#content-wrap {
    padding-bottom: 2.5rem;
    min-height: 100%;
}

/*----------------- Styles used to create and blur background image -----------------*/

.background-container {
    background-image: linear-gradient(to right, #fc7787, #bfe9ff);
    background-size: auto;
    width: 100%;
}

.blur {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(18px);
    width: 100%;
    z-index: -1;
}

/*----------------- Styles used to customise text on homepage -----------------*/

.intro {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 10%;
    padding-right: 5%;
    color: white;
    font-weight: 800;
    text-align: center;
}

.intro-invite {
    text-align: center;

}

.intro-invite-button {
    font-size: xx-large;
    background-image: linear-gradient(to right,
            #E5E6E4,
            #F2F3F2 50%,
            #FFFFFF 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    outline: none;
}

.intro-invite-button:before {
    content: '';
    background: #E5E6E4;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.intro-invite-button:hover {
    background-position: 0;
}


.intro-invite-button:focus {
    outline: none;
    box-shadow: none;
}


.intro-invite-bar {
    color: #f7f7f7;
    width: 100%;
    padding: 0;

}

.featured-header {
    color: white;
    padding-top: 1rem;
    font-weight: 700;
    text-align: center;
}

.intro-invite a {
    color: white;
}

.intro-card-title {
    margin: 2rem 1rem;
    text-align: center;

}

.intro-card-text {
    margin: 0 1rem 1rem 1rem;
    font-size: 1rem;
}

.intro-card-button {
    margin-top: 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    float: right;
    font-size: larger;
    position: relative;
}

a-card-intro-button {
    float: right;
}

.card-body {
    flex: 1 1 auto;
    padding: 0.5rem;
}

.intro-hr {
    color: #f7f7f7;
    height: 4px !important;
    width: 100%;
    margin-top: 8px;
    margin: 1px;
}


#carousel-container {
    margin-left: 0%;
    margin-right: 0%;
}

.carousel-image {
    width: 100%;
    border-radius: 5px;
    object-fit: fill;
    filter: brightness(60%);
}

/*----------------- Styles used to customise nav bar -----------------*/

.navbar-brand {
    font-family: 'Kanit', sans-serif;
}

.search-button {
    margin-left: 0.5rem;
}

.navbar {
    z-index: 2;
}

footer {
    height: 3rem;
    background-color: #f7f7f7;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.invisible {
    padding: 1%;
}

.card {
    min-width: 300px;
    min-height: 200px;
    background-color: #f7f7f7;
    border-radius: 2%;
    margin: 1rem;
    margin-bottom: 3rem;
}

.card_image {
    padding: 0.5rem;
    border-radius: 45% 0 45% 45%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    float: right;
}

.card_text {
    padding-right: 1rem;
}

.seminar-btn {
    margin: 0.5rem;
    float: right;
    width: 10rem;
}

.overlay {
    background: #f7f7f7;
}

.details_header {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    font-size: xx-large;
    text-align: center;
}

.comments_header {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    font-size: x-large;
    text-align: center;
}

.detail-time {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 5rem;
    font-size: large;
    text-align: center;

}

.detail_image {
    padding: 0.2rem;
    border-radius: 5%;
    width: auto;
    height: auto;
    min-height: 300px;
    object-fit: cover;
}

.seminar-detail-btn {
    margin:0 auto;
    display:block;
    width: 10rem;
    margin-bottom: 1rem;
}

.button_holder {
    margin-left: 5%;
}

.detail-text {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 5rem;
    font-size: large;
}

.detail_card {
    margin-bottom: 1rem;
}

.replies {
    padding-left: 0.5rem;
}

.comments {
    padding-left: 0.5rem;
}

.comment_text {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.reply_text {
    margin-left: 2rem;
}

.reply_form {
    display: none;
    margin-right: 0.5rem;
}

.comment_form {
    margin: 0.5rem;
}

.reply_btn {
    margin: 0.5rem;
}

.comment_btn {
    margin: 0 auto;
    display:block;
    margin-top: 0.5rem;
    width: 50%;
}

.comment_hr {
    width: 90%;
    margin-left: 5% !important;
    border-top: 1px dashed
    }



/*----------------- Styling for custom toasts -----------------*/

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.toast-header-text {
    padding-left: 112px;
}

.toast-body {
    text-align: center;
}

/*----------------- Styles for Contact Page -----------------*/

.contact-btn {
    float: right;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.contact-header {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contact-text {
    font-size: large;
}

.contact-form {
    margin-bottom: 5rem;
}

/*----------------- Styles used on Accounts pages -----------------*/

.account-title {
    margin: 2rem 0;
}

.account-text {
    margin: 1rem
}

.account-card {
    margin-top: 20vh;
    margin-bottom: 25vh;
    height: 55vh;
    max-width: fit-content;
    text-align: center;
}

.account-logout-card {
    margin-top: 30vh;
    margin-bottom: 35vh;
    height: 25vh;
    max-width: fit-content;
    text-align: center;
}

.account-signup-card {
    margin-top: 15vh;
    margin-bottom: 20vh;
    height: 65vh;
    max-width: fit-content;
    text-align: center;
}


/*----------------- Media queries used to ensure responsiveness across screen sizes -----------------*/

@media screen and (min-width: 991px) {
    .intro-card {
        min-height: 28rem;
    }

    .carousel-image {
        height: 27rem;
        width: 100%;
        object-fit: cover;
        filter: brightness(60%);
    }

    .intro-card-button {
        margin-bottom: 2rem;
        margin-left: 1rem;
        font-size: larger;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 88%;
    }

}

@media screen and (min-width: 1315px) {
    .intro-card-button {
        margin-bottom: 2rem;
        margin-left: 1rem;
        font-size: larger;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 90%;
    }

    .intro-card {
        min-height: 34rem;
    }

    .carousel-image {
        height: 33rem;
        width: 100%;
        object-fit: cover;
        filter: brightness(60%);
    }
}


@media screen and (min-width: 1800px) {
    .intro-card {
        min-height: 34rem;
        margin-bottom: 6rem;
    }

    .intro-card-button {
        margin-bottom: 2rem;
        margin-left: 1rem;
        font-size: larger;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 94%;
    }

    .carousel-image {
        height: 33rem;
        width: 100%;
        object-fit: cover;
        filter: brightness(60%);
    }
}

@media screen and (max-width: 767px) {
    .detail_image {
        padding: 0.5rem;
        border-radius: 2%;
        width: 780px;
        height: 250px;
        object-fit: cover;
        float: left;
    }
}

@media screen and (max-width: 600px) {
    .card_image {
        padding: 0.5rem;
        border-radius: 6%;
        width: 580px;
        height: 200px;
        object-fit: cover;
        float: right;
    }

    .detail-text {
        padding: 0.2rem;
        font-size: medium;
    }
}

@media screen and (max-width: 380px) {
    .carousel-image {
        height: 200px;
        width: 100%;
        object-fit: cover;
        filter: brightness(80%);
    }

    .contact-text {
        font-size: medium;
    }

    .account-card {
        margin-top: 20vh;
        margin-bottom: 15vh;
        height: 55vh;
        max-width: fit-content;
        text-align: center;
    }

    .account-signup-card {
        margin-top: 10vh;
        margin-bottom: 10vh;
        height: 80vh;
        max-width: fit-content;
        text-align: center;
    }
}

@media screen and (max-width: 280px) {
    .card_image {
        padding: 0.5rem;
        border-radius: 8%;
        width: 580px;
        height: 150px;
        object-fit: cover;
        float: right;
    }
}